.modal {
	$self: &;
	box-sizing: border-box;
	display: none;
	position: fixed;
	z-index: 9999;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.8);
	backdrop-filter: blur(8px);	
	padding: 30px;
	align-items: center;
	overflow-y: auto;
	@keyframes show_fade {
		from { opacity: 0; }
		to { opacity: 1; }
	}
	
	@include media('<=xxs') {
		padding: 15px;
	}

	&[style*="display: block"] {
		display: flex !important;
	}

	&_error {
		#{$self}__content {
			&::after {
				content: 'Задайте id целевого блока в атрибуте data-modal';
			}
		}
	}

	&_order-inquire, &_order-ready {
		
		#{$self}__body {
			background-color: #F6F9F6;
		}
		
		#{$self}__content {
			animation: show_fade 0.3s;
		}
	}
	
	&_order-inquire {
		.title {
			margin-bottom: 40px;
		}
	}
	
	&_order-ready {
		.title {
			margin-bottom: 10px;
		}
	}

	&__hidden {
		display: none;
	}
	
	&__close {
		position: absolute;
		top: 25px; right: 25px;
		cursor: pointer;
		width: 38px;
		height: 38px;
		z-index: 2;
		background: url('#{$images-path}icons-sprite.svg#icon-close-view-dark') center / 38px 38px no-repeat transparent;
		
		@include media('<=md') {
			width: 30px;
			height: 30px;
			background-size: 25px 25px;
		}
		
		@include media('<=xs') {
			top: 17px; right: 17px;
			width: 25px;
			height: 25px;
			background-size: 20px 20px;
		}
		
		@include media('<=xxxs') {
			top: 10px; right: 10px;
		}
	}

	&__body {
		@include slideInDown(
			$duration: 0.7s,
			$delay: 0s,
			$function: ease, 
			$fill: both			
		);
		box-sizing: border-box;
		position: relative;
		background-color: #fff;
		border-radius: 60px;
		margin: auto;
		padding: 40px;
		width: 100%;
		max-width: 1200px;
		box-shadow: 0px 1px 10px 4px rgba(0, 0, 0, 0.07);
		
		@include media('<=sm') {
			border-radius: 40px;
			padding: 30px;
		}
		
		@include media('<=xs') {
			border-radius: 30px;
			padding: 20px;
		}
	
		@include media('<=xxs') {
			padding: 15px;
		}
		
		@include media('<=xxxs') {
			padding: 10px;
		}
	}
	
	&__content {
		min-height: 200px;
		// max-height: calc(100vh - 160px);
		// overflow-y: auto;
		// overflow: hidden;
		
		@include media('<=xxs') {
			min-height: 140px;
		}
		
		@include media('<=xxxs') {

		}

		img {
			display: block;
			margin: 0 auto;
		}

		video {
			display: block;
			width: 100%;
			max-width: 100%;
			border-radius: 40px;
			
			@include media('<=xs') {
				border-radius: 20px;
			}
		}
	}
}