.slider {
	$self: &;
	
	@include media('<=xs') {
		height: 250px;
	}

	&_sport {
		#{$self}__text {
			transform: translate(-50%, -110%);
			
			@include media('<=md') {
				transform: translate(-50%, -75%);
			}
			
			@include media('<=xs') {
				transform: translate(-50%, -50%);
			}
		}

		#{$self}__pagination {
			bottom: 150px;
			
			@include media('<=xs') {
				bottom: 15px;
			}
		}
	}

	&__wrapper {

	}

	&__slide {
		position: relative;

		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__text {
		font-family: "CN", sans-serif;
		font-size: 83px;
		text-transform: uppercase;
		text-align: center;
		color: #fff;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -45%);
		z-index: 1;
		width: 100%;
		max-width: calc(100% - 120px);
		
		@include media('<=xlg') {
			font-size: calc(4.2vw + 29px);
		}
		
		@include media('<=xs') {
			max-width: calc(100% - 80px);
		}
	}

	&__pagination {
		position: absolute;
		z-index: 2;
		left: 0;
		bottom: 25px;
		width: 100%;
		text-align: center;
		
		@include media('<=xxs') {
			bottom: 18px;
		}
	}

	&__dot {
		display: inline-block;
		cursor: pointer;
		width: 38px;
		height: 6px;
		background-color: #fff;
		opacity: 0.5;
		border-radius: 5px;
		margin: 0 10px;

		&.active {
			opacity: 1;
		}
	}
}
