<footer class="footer">
	<div class="footer__inner container">
		<div class="footer__side">
			<p>Урочище Беговое</p>
			<p>Отдел продаж <a href="./">+7 999 34 56 789</a></p>
		</div>
		<nav class="footer__menu">
			<a href="#about">Об урочище</a>
			<a href="#structure">Инфраструктура</a>
			<a href="#sectors">Участки</a>
			<a href="#media">Фотографии и видео</a>
			<a href="#contacts">Контакты</a>
	</nav>
	</div>
	<button class="footer__up">Наверх</button>
</footer> 

@@include("_modals.html") 

<script type="text/javascript" charset="utf-8" src="jquery.min.js"></script>
<script src="common.js"></script> 
</body> 
</html> 
