<form class="@@if(this.class){@@class} form form_inquire" action="./">
	<h3 class="title">Интересно? <br> Задайте вопрос</h3>
	<div class="form__fields">
		<input class="form__input" name="form_name" type="text" placeholder="Имя">
		<input class="form__input" name="form_email" type="text" placeholder="Телефон или Email">
		<input class="form__input" name="form_region" type="text" placeholder="Ваш регион" autocomplete="off">
		<textarea class="form__textarea" placeholder="Сообщение"></textarea>
	</div>
	<div class="form__alert">
		<span>Пожалуйста заполните все поля</span>
		<!-- <span class="loading"><img src="./images/loading.svg" alt=""></span> -->
	</div>
	<button class="form__submit button" type="submit">Отправить</button>
</form>