<header class="header">
	<div class="header__mobile">
		<button class="header__toggle"></button>
		<div class="header__mobile-side socials socials_top">
			<a class="socials__link socials__link_tel" href="./"></a>
			<a class="socials__link socials__link_wapp" href="./"></a>
			<a class="socials__link socials__link_tgm" href="./"></a>
		</div>
	</div>
	<div class="header__inner container">
		<a href="./" class="header__logo"><img src="./images/logo.svg" alt=""></a>
		<div class="header__side">
			<button class="header__close"></button>
			<nav class="header__menu">
				<a href="#about">Об урочище</a>
				<a href="#structure">Инфраструктура</a>
				<a href="#sectors">Участки</a>
				<a href="#media">Фотографии и видео</a>
				<a href="#contacts">Контакты</a>
			</nav>
			<div class="header__contacts">
				<a class="header__button" href="./">Напишите нам</a>
				<a class="header__button" href="tel:+79993456789">+7 999 34 56 789</a>
				<div class="header__socials socials">
					<a class="socials__link socials__link_wapp" href="./"></a>
					<a class="socials__link socials__link_tgm" href="./"></a>
				</div>
			</div>
		</div>
	</div>
	<div class="header__bottom container">
		<div class="header__slider swiper">
			<div class="swiper-wrapper">
				<div class="header__slide swiper-slide">
					<img src="./images/stuff/header-slide-1.png" alt="">
				</div>
				<div class="header__slide swiper-slide">
					<img src="./images/stuff/header-slide-2.png" alt="">
				</div>
				<div class="header__slide swiper-slide">
					<img src="./images/stuff/header-slide-1.png" alt="">
				</div>
			</div>
		</div>
	</div>
</header>