<div class="modal__hidden">
	<div id="order-details">
		<div class="details">
			<div class="details__gallery">
				<img src="./images/stuff/details-image-1.jpg" alt="">
				<img src="./images/stuff/details-image-2.jpg" alt="">
				<img src="./images/stuff/details-image-3.jpg" alt="">
				<img src="./images/stuff/details-image-4.jpg" alt="">
			</div>
			<div class="details__side">
				<h3 class="details__title">Земельный участок площадью 2345 м2</h3>
				<div class="details__price">870000 Рублей</div>
				<div class="details__text">На территории имеются ограничения на размещение промышленных и сельскохозяйственных объектов и сооружений, а также на осуществление хозяйственной деятельности, сопровождающейся загрязнением окружающей природной среды, природных.</div>
				<div class="details__buttons">
					<button class="details__button details__button_order">Забронировать</button>
					<button class="details__button details__button_more" data-modal="order-inquire">Узнать больше</button>
				</div>
			</div>
			<div class="details__buttons details__buttons_mobile">
				<button class="details__button details__button_order">Забронировать</button>
				<button class="details__button details__button_more" data-modal="order-inquire">Узнать больше</button>
			</div>
		</div>
	</div>
	<div id="order-inquire">
		<form class="form form_inquire" action="./">
			<h3 class="title">Интересно? Задайте вопрос</h3>
			<div class="form__fields">
				<input class="form__input" type="text" placeholder="Имя">
				<input class="form__input" type="text" placeholder="Телефон или Email">
				<textarea class="form__textarea" placeholder="Сообщение"></textarea>
			</div>
			<button class="form__submit button" type="submit">Отправить</button>
		</form>
	</div>
</div>