.ambient {
	$self: &;
	margin-bottom: 95px;
		
	@include media('<=xxs') {
		margin-bottom: 55px;
	}

	&__inner {
		
	}
	
	&__title {
		margin-bottom: 47px;
		
		@include media('<=xxs') {
			margin-bottom: 25px;
		}
	}
	
	&__items {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 26px;
		
		@include media('<=xs') {
			grid-template-columns: repeat(2, 1fr);
			max-width: 382px;
			margin: 0 auto;
		}
	}

	&__item {
		position: relative;
		overflow: hidden;
		border-radius: 80px;
		grid-column: span 1;
		height: 240px;
		cursor: pointer;
		
		&:nth-child(1) { 
			order: 1; 
			grid-column: span 3;
		}
		&:nth-child(2) { order: 2; }
		&:nth-child(3) { order: 3; }
		&:nth-child(4) { order: 4; }
		&:nth-child(5) {
			order: 5;
			grid-column: span 2;
		}
		&:nth-child(6) {
			order: 6;
			grid-column: span 2;
		}
		&:nth-child(7) { order: 7; }
		&:nth-child(8) { order: 8; }
		&:nth-child(9) { order: 9; }
		&:nth-child(10) { order: 10; }
		&:nth-child(11) { order: 11; }
		&:nth-child(12) { order: 12; }

		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		@include media('<=lg') {
			border-radius: 60px;
		}
		
		@include media('<=md') {
			border-radius: 40px;
			height: 180px;
		}
		
		@include media('<=sm') {
			border-radius: 30px;
			height: 160px;
		}
		
		@include media('<=xs') {
			border-radius: 60px;
			height: 140px;
	
			&:nth-child(1) { 
				order: 1; 
				grid-column: span 2;
				height: 255px;
			}
			&:nth-child(2) { order: 2; }
			&:nth-child(3) { order: 3; }
			&:nth-child(4) { order: 4; }
			&:nth-child(5) { 
				order: 6; 
				height: 255px;
			}
			&:nth-child(6) { 
				order: 5; 
				grid-column: span 1;
			}
			&:nth-child(7) { order: 7; }
			&:nth-child(8) { order: 8; }
			&:nth-child(9) { order: 9; }
			&:nth-child(10) { order: 10; }
			&:nth-child(11) { order: 11; }
			&:nth-child(12) { order: 12; }
		}
	}

	&__name {
		display: block;
		position: absolute;
		z-index: 2;
		bottom: 30px;
		left: 35px;
		font-family: "GPB", sans-serif;
		font-size: 14px;
		text-transform: uppercase;
		color: #fff;
		
		@include media('<=lg') {
			font-size: 12px;
		}
		
		@include media('<=md') {
			bottom: 20px;
			left: 25px;
		}
	}
}
