.pan {
	$self: &;
	margin-bottom: 100px;
		
	@include media('<=xxs') {
		margin-bottom: 65px;
	}

	&__inner {

	}

	&__title {
		margin-bottom: 50px;
		
		@include media('<=xxs') {
			max-width: 300px;
			margin: 0 auto 25px;
		}
	}

	&__view {
		position: relative;
		overflow: hidden;
		height: 500px;
		border-radius: 100px;
		
		@include media('<=xs') {
			border-radius: 80px;
			height: 250px;
		}
		
		@include media('<=xxs') {
			max-width: 382px;
			margin: 0 auto;
		}
			
		&::after {
			display: block;
			content: '';
			width: 45px;
			height: 37px;
			position: absolute;
			right: 65px;
			bottom: 45px;
			background: url('#{$images-path}icons-sprite.svg#icon-panorama-view-white') center / auto no-repeat transparent;
			
			@include media('<=xs') {
				width: 28px;
				height: 23px;
				right: 50px;
				bottom: 40px;
			}
		}

		.psv-overlay-image {

			@include media('<=xs') {
				margin-bottom: 10px;
			}
		
			svg {
				max-width: 300px;

				@include media('<=xs') {
					max-width: 130px;
				}
				
				@include media('<=xxs') {
					max-width: 100px;
				}
			}
		}

		.psv-overlay-text {

			@include media('<=xs') {
				font-size: 20px;
			}

			@include media('<=xxs') {
				font-size: 16px;
			}
		}
	}
}
