.cards {
	$self: &;

	&__item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 50px;

		&:nth-child(even) {
			flex-direction: row-reverse;
		}

		@include media('<=xs') {
			flex-flow: column nowrap !important;
			max-width: 480px;
			margin: 0 auto 50px;
		}

		@include media('<=xxs') {
			max-width: 380px;
		}
	}

	&__image {
		overflow: hidden;
		backface-visibility: hidden;
		transform: translate3d(0, 0, 0);
		border-radius: 200px;
		width: calc(50% - 13px);
		max-width: 485px;
		
		@include media('<=sm') {
			border-radius: 120px;
		}
		
		@include media('<=xs') {
			order: -1;
			width: 100%;
			height: 300px;
			position: relative;
			margin-bottom: 30px;
		}
		
		@include media('<=xxs') {
			border-radius: 60px;
			height: 150px;
		}
		
		@include media('<=xxxs') {
			border-radius: 60px;
		}
		
		img {
			display: block;
		
			@include media('<=xs') {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
	}
	
	&__side {
		width: calc(50% - 13px);

		@include media('<=xs') {
			width: auto;
		}
	}

	&__title {
		font-family: "GPM", sans-serif;
		font-size: 36px;
		color: #101E2D;
		margin-bottom: 25px;
		
		@include media('<=lg') {
			font-size: 32px;
		}
		
		@include media('<=md') {
			font-size: 30px;
		}
		
		@include media('<=sm') {
			font-size: 28px;
		}
		
		@include media('<=xs') {
			font-size: 24px;
			line-height: 1.0;
			margin-bottom: 20px;
		}
	}
	
	&__text {
		font-family: "GPL", sans-serif;
		line-height: 1.4;
		
		@include media('<=xxs') {
			// margin-bottom: 50px;
			font-size: 14px;
			line-height: 1.6;
		}
	}
	
	&__more {
		font-family: "GPL", sans-serif;
		color: #009BDD;
	}
}
