.order {
	$self: &;

	&__patch {
		display: none;
		background-color: #66BB46;
		border-radius: 60px;
		padding: 30px;
		margin-bottom: 35px;
		cursor: pointer;

		@include media('<=sm') {
			display: block;
		}
		
		&::before {
			display: block;
			content: '';
			width: 115px;
			height: 65px;
			background: url('#{$images-path}icons-sprite.svg#icon-sectors-view-white') center / auto no-repeat transparent;
			margin: 0 auto 20px;
		}

		span {
			display: block;
			font-family: "CN", sans-serif;
			font-size: 24px;
			color: #fff;
			text-transform: uppercase;
			text-align: center;
		}
	}

	&__map {
		position: relative;
		border-radius: 120px 120px 0 0;
		overflow: hidden;
		
		@include media('<=md') {
			border-radius: 80px 80px 0 0;
		}

		&::after {
			display: block;
			content: '';
			width: 100%;
			height: 120px;
			border-radius: 120px 120px 0 0;
			background-color: #fff;
			position: absolute;
			bottom: 0;
			left: 0;
			z-index: 1;
			
			@include media('<=md') {
				height: 80px;
				border-radius: 80px 80px 0 0;
			}
		}

		svg { max-width: 100%; }
		
		@include media('<=sm') {
			border-radius: 0;
			display: none;
			position: fixed;
			top: 0;
			left: 0;
			width: 100vw;
			height: 100vh;
			height: calc(var(--vh, 1vh) * 100);
			z-index: 5;
			
			&::after { display: none; }
			
			svg {
				display: block;
				max-width: none;
				min-height: 100vh;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-65%, -50%);
			}
			
			&.opened {
				display: block;
				@keyframes map_open {
					from { opacity: 0; }
					to { opacity: 1; }
				}
				animation: map_open 0.3s;
			}
			
			&.turned {
				svg {
					min-width: 100vh;
					min-height: 100vw;
					transform: translate(-50%, -50%) rotate(90deg);
					transform-origin: center;
				}
			}
		}
	}

	&__sectors {

	}

	&__sector {
		pointer-events: bounding-box;
		cursor: pointer;


		text {
			font-family: "GPM", sans-serif;
			font-size: 11px;

			tspan>tspan {
				font-size: 9px;
			}
		}

		&:hover {
			path {
				fill: #A0D259;
				fill-opacity: 0.2;
			}
		}
	}

	&__close, &__turn {
		@extend %reset-button;
		display: none;
		position: absolute;
		top: 25px;
		z-index: 1;
		background-color: transparent;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		
		@include media('<=sm') {
			display: block;
		}
		
		@include media('<=xs') {
			
		}
	}
	
	&__close {
		right: 25px;
		height: 38px;
		width: 38px;
		background-image: url('#{$images-path}icons-sprite.svg#icon-close-view-dark');
		
		@include media('<=xxs') {
			height: 30px;
			width: 30px;
		}
	}
	
	&__turn {
		left: 25px;
		height: 40px;
		width: 44px;
		background-image: url('#{$images-path}icons-sprite.svg#icon-rotate-view-dark');
	}

	&__inner {

	}

	&__call {
		box-sizing: border-box;
		border: 1px solid #66BB46;
		border-radius: 70px;
		padding: 45px;
		
		@include media('<=xxs') {
			padding: 55px 22px;
		}
	}

	&__title {
		margin-bottom: 36px;
		
		@include media('<=xxs') {
			margin-bottom: 13px;
		}

		br {
			display: none;
					
			@include media('<=xxs') {
				display: block;
			}
		}
	}

	&__text {
		font-family: "GPL", sans-serif;
		font-size: 24px;
		line-height: 1.5;
		text-align: center;
		
		@include media('<=xxs') {
			font-size: 22px;
			line-height: 1.42;
			margin-bottom: 27px;
		}

		br {
			@include media('<=xxs') {
				display: none;
			}
		}
	}

	&__contacts {
		display: flex;
		align-items: center;
		justify-content: center;

		@include media('<=xxxs') {
			flex-wrap: wrap;
		}
	}

	&__phone {
		font-size: 24px;
		color: #009BDD;
		margin-right: 30px;

		@include media('<=xxxs') {
			margin: 0 0 20px;
		}
	}

	&__socials {

	}
}