.sectors {
	$self: &;
	margin-bottom: 100px;
	
	@include media('<=xxs') {
		margin-bottom: 60px;
	}

	&__inner {

	}

	&__title {
		margin-bottom: 40px;
		
		@include media('<=xxs') {
			margin-bottom: 15px;
		}
	}

	&__text {
		font-family: "GPL", sans-serif;
		font-size: 24px;
		margin-bottom: 100px;
		text-align: center;
		line-height: 1.6;
		
		@include media('<=xxs') {
			font-size: 22px;
			max-width: 370px;
			margin: 0 auto 70px;
			line-height: 1.65;
		}
		
		p:nth-child(1) {
			margin: 0 auto 30px;
			max-width: 640px;
			
			@include media('<=xxs') {
				margin: 0 auto 12px;
			}
		}
		
		p:nth-child(2) {
			margin: 0 auto;
			max-width: 990px;
		}
	}
	
	&__items {
		margin-bottom: 95px;
		
		@include media('<=xs') {
			margin-bottom: 55px;
		}
	}
	
	&__note {
		box-sizing: border-box;
		font-family: "GPL", sans-serif;
		font-size: 20px;
		line-height: 1.45;
		border: 2px solid #66BB46;
		border-radius: 70px;
		padding: 45px 100px;
		display: flex;
		align-items: center;
		
		@include media('<=xs') {
			display: block;
			text-align: center;
			padding: 40px 60px 35px;
			line-height: 1.55;
			border-width: 1px;
		}
		
		@include media('<=xs') {
			font-size: 14px;
		}
		
		@include media('<=xxxs') {
			padding: 40px 40px 35px;
		}

		&::before {
			display: block;
			content: '';
			width: 75px;
			height: 70px;
			background: url('#{$images-path}icons-sprite.svg#icon-scheme-view-green') center / auto no-repeat transparent;
			flex-shrink: 0;
			margin-right: 28px;
		
			@include media('<=xs') {
				margin: 0 auto 40px;
			}
		}
	}
}
